* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #c93877;
  width: 100%;
  height: 150px;
  padding: 35px 0 0 0;
}

h1 {
  font-family: "BBH Bogle", sans-serif;
  font-size: 64px; 
  color: #ffffff;
  text-align: center;
  letter-spacing: 3px;
}

main {
  border: 1px solid red;
}

.adicionar-tarefa {
  border: 1px solid blue;
}

input {
  width: 600px;
  height: 40px;
  background-color: #d9d9d9;
  border: none;
  border-radius: 20px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #6d6767;
  padding: 0 0 0 18px;
}

.btn-adicionar {
  font-family: "BBH Bogle", sans-serif;
  font-size: 18px;
  width: 256px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: #c93877;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
}

.btn-adicionar:hover {
  background-color: #8a2b54;
}